body{
  background-color: white;
}

/*styling for the navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 20px;
  color: white;
  margin-right: 0px;
  margin-left: 80px;
}

.logo img {
  width: 90px;
  height: auto;
}

.content {
  flex-grow: 1;
  text-align: center;
}

.navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 650px;
}
.navigation li {
  margin: 0 10px;
}
.navigation li a {
  text-decoration: none;
  color: black;
}

.button {
  padding: 10px 30px;
  background-color: rgba(89,85,179,255);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 150px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 20px;
}

.left-content {
  flex: 1;
}

h1 {
  margin: 0px;
  font-size: 80px;
  color: rgba(89,85,179,255);
  margin-left: 80px;
}

p{
  margin: 0;
  font-size: 20px;
  margin-left: 90px;
}

.Service-Button{
  padding: 8px 16px;
  background-color: rgba(89,85,179,255);
  color: white;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 100px;
}

.right-content img {
  width: 750px; 
  height: auto;
}
