body{
  background-color: white;
}

/* Basic styling for the navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 20px;
  color: white;
  margin-right: 200px;
}

/* Styling for the logo */
.logo img {
  width: 90px; /* Adjust the width as needed */
  height: auto;
}

/* Styling for the content area */
.content {
  flex-grow: 1;
  text-align: center;
}

/* Styling for the navigation links */
.navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 750px;
}
.navigation li {
  margin: 0 15px;
}
.navigation li a {
  text-decoration: none;
  color: black;
}

/* Styling for the button */
.button {
  padding: 8px 16px;
  background-color: rgba(89,85,179,255);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* Basic styling for the container */
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 20px;
}

/* Styling for the left content */
.left-content {
  flex: 1;
}

/* Styling for the h1 tags */
h1 {
  margin: 0;
  font-size: 80px;
  color: rgba(89,85,179,255);;
}

p{
  margin: 0;
  font-size: 20px;
}

.Service-Button{
  padding: 8px 16px;
  background-color: rgba(89,85,179,255);
  color: white;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 100px;
}

/* Styling for the right content */
.right-content img {
  width: 800px; /* Adjust the width as needed */
  height: auto;
}
